# Backend comum do laboratório.
# Deve apontar para a spring-api.
SPRING_API_BASE_URL=http://localhost:8080

# Apenas informativo para componentes públicos, se necessário.
NEXT_PUBLIC_APP_NAME=Frontend Microservices Lab - Next.js
